@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;

.maps {
  width: 100%;
  display: flex;
  flex-direction: column;
  &__container {
    @include main-containers;
  }
  &__title {
    @include titles;
    margin-top: 1rem;
  }
  &__subtitle {
    @include subtitles;
  }
  &__map {
    width: 100%;
    height: 100vw;
    @include tablet {
    height: 74vh;
    }
    @include desktop {
        height: 69vh;
    }
  }
}
