$brand-primary: #0095FF; //bright blue
$brand-primary-dark: #0065AD; //deep blue
$brand-primary-light: #D2E4F6; //pale blue

$brand-primary2: #FFA763; //bright orange
$brand-primary2-light: #F8DEC5; //pale orange



$default-text-color: #000000; // black